html {
        box-sizing: border-box;
        font-family: sans-serif;
        font-size: 14px;
        scroll-behavior: smooth;
    }

*,
*::after,
*::before{
        box-sizing: inherit;
}
body{
    margin: 0;
}
/*Estilos generales*/
*[id]{
        scroll-margin-top: 4ex;
}
a{
        text-decoration: none;
        color: #fff;
        padding: 0.5rem;
        margin: 1rem;
        border-radius: 5px;
        font-size: 1.5rem;
        font-weight: bold;
        transition: transform 300ms ease;
}
.card i, 
.card a{
    color: #f00;
}
a:hover{
    transform: scale(1.5 , 1.5);
}
h1{
        color: #fff;
        font-weight: bold;
}
h2{
        font-weight: bold;
        font-size: 1.6rem;
        text-transform: uppercase;
        color: #fff;
}
img{
    max-width: 100%;
    width: 50%;
}
p{
    color: #fff;
}
button {
    border-radius: 5px;
    border: 1px solid #f9f9f9;
}
button:hover{
    transform: scale(1.1, 1.1);
}
/*Cabecera*/
.header {
        position: sticky;
        top: 0;
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #1b2643;
}
/*Menu*/
.navbar{
        height: 100vh;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: none;
        background-color: #1b2643;
}
.navbar:target{
        display: flex;
}

.container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
}

.cards{
     height: 100vh;
     background-color: #060614;
      padding: 5rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
}

section.bg-image-header{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("img/bg-dos.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
}
.cards:nth-child(even){
        background-color: #30344a;
}


.presentacion p {
    width: 500px;
   font-size: 1.5rem;
   margin-left: 1rem;
   padding: 2rem;
   background-color: #1b2643;
   box-shadow: 0 0 0.2rem 0.2rem #fff;
}
.presentacion a{
    color: #f00;
    background-color: #1b2643;
    padding: 0rem 1rem;
}
.cards .card{
    width: 300px;
    height: 300px;
    background-color: #1b2643;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    transition: transform 500ms ease;
    /* text-align: center; */
}

.card .card-image{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #30344a;
    display: flex;
    justify-content: center;
}
.card-image img{
    width: 100%;
    height: 100px;
}

.bg-orange{
    background-color: #ff8754;
}
.bg-dark-blue{
    background-color: #0093eb;
}
.bg-yellow{
    background-color: #ffcc50;
}
.bg-red{
    background-color: #e4174a;
}
.bg-dark-blue-react{
    background-color: #0082ff;
}
.card-content{
    padding: 2rem;
}
.card-link{
    display: flex;
    justify-content: center;
}
.card-content p {
    font-weight: bold;
}
.loader {
    --height-of-loader: 4px;
    --loader-color: #0071e2;
    width: 100%;
    height: var(--height-of-loader);
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
   }
.loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
    ;
   }
   
   @keyframes moving {
    50% {
     width: 100%;
    }
   
    100% {
     width: 0;
     right: 0;
     left: unset;
    }
   }
   @media (max-width:700px){
    *[id]{
        scroll-margin-top: 5ex;
    }
    .cards{
        flex-direction: column;
    }
    .loader{
        display: none;
    }
    .cards .card{
        width: 350px;
        height: 50vh;
        margin-bottom: 2rem;
    }
    .card-content{
        font-size: 1.5rem;
        padding: 1rem;
    }
    .card-link{
        padding: 1rem;
        font-size: 1.9rem;
    }
    .presentacion p{
        width: 300px;
    }
    i{
        font-size: 3rem;
    }
   }